/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #58607e;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
ul {
  padding: 0;
}

ul li {
  list-style: none;
  display: inline;
}

ul li i {
  font-size: 30px;
  color: black;
}

div {
  width: 500px;
  margin: 0 auto 20px;
  text-align: center;
  background: white;
  /* White background */
  padding: 30px;
  /* Internal space */
  border-radius: 4px;
  /* Small radius */
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}
